name: CD - Hl7v2 Commons

on:
  workflow_dispatch:
    inputs:
      bal_central_environment:
        description: Ballerina Central Environment
        type: choice
        options:
        - STAGE
        - DEV
        - PROD
        required: true
      ballerina_version:
        description: Ballerina Version
        type: choice
        options:
        - 2201.9.0
        - 2201.8.5
        required: true

jobs:
  build:
     uses: ./.github/workflows/build-executor.yml
     secrets: inherit
     with:
      working_dir: ./commons
      bal_central_environment: ${{ inputs.bal_central_environment }}
      ballerina_version: ${{ inputs.ballerina_version }}
